<meta charset="utf-8" />
<title>{{.Title}}</title>
<style>
body {
    font-family: monospace;
    color: #555;
    background: #e6edf4;
    padding: 1.25rem;
    margin: 0;
}
em {
    font-weight: bold;
}
form {
    margin-bottom: 1.25rem;
}
table {
    background: #fff;
    border: .0625rem solid #c4cdda;
    border-radius: 0 0 .25rem .25rem;
    border-spacing: 0;
    margin-bottom: 1.25rem;
    padding: .75rem 1.25rem;
    text-align: left;
    white-space: pre;
}
table > caption {
    background: #f1f6fb;
    text-align: left;
    font-weight: bold;
    padding: .75rem 1.25rem;
    border: .0625rem solid #c4cdda;
    border-radius: .25rem .25rem 0 0;
    border-bottom: 0;
}
table td, table th {
    padding: .25rem;
}
table > tbody > tr:hover {
    background: #f1f6fb;
}
</style>