<!DOCTYPE html>
<html>
<head>
{{template "head.html" .}}
</head>
<body>
	<h1>{{.Title}}</h1>
	<p>this <em>server</em> step:</p>
	<ol>
		<li>
			did <em>NOT verify</em> that it can trust the received Endorsement Key (EK) Certificate (not yet implemented)
			<ul>
				<li>Subject: {{.EKSubject}}</li>
				<li>Issuer: {{.EKIssuer}}</li>
			</ul>
		</li>
		<li>verified that the Client has control over its Endorsement Key (EK)</li>
	</ol>
	<div>
		<h1>Client Endorsement Key (EK)</h1>
		<pre>{{.EK}}</pre>
	</div>
</body>
</html>